.container{
  margin: 0 100px;
  width: 90%;
}
header{
  width: 100%;
  height: 60px;
  background-color: #F8F9FA;
  display: flex;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header>img{
  width:20%;
  height: 40%;
  background-color: #F8F9FA;
}
.one{
  width: 30%;
}
.buttonText:hover {
  background-color: #E34981;
}
aside{
  height: 70vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
}
.section{
  width: 70%;
  height: 70vh;
}
@media (max-width:700px) {
  .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .container{
    margin: 0 15px;
    width: 90%;
  }
  aside{
    width: 100%;
    height: auto;
  }
  .section{
    width: 100%;
  }
}
